@import "colors";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    background-image: url("/images/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $violet;
    max-width: 1440px;
}

header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

.header--logo {
    margin-top: 36px;
    margin-left: 72px;
}

main {
    grid-column-start: 1;
    grid-column-end: 13;    
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 72px;
    margin-right: 72px;
}

.content {
    color: white;
    display: flex;
}

.content--image {
    margin-right: 30px;
}

.content--caption {
    h1 {
        font-size: 36px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin: 24px 0 24px 0;
        width: 93%;
        line-height: 1.5em;
    }
    a {
        display: inline-block;
        padding: 1em 3.5em;
        margin-top: 15px;
        background-color: white;
        color: $violet;
        text-decoration: none;
        border-radius: 40px;
        &:hover{
            color: white;
            background-color: $softmagenta;
        }
    }
}

footer {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 12px 0 36px 0;
    svg {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 5px;
        padding: 8px;
        border-radius: 50%;
        border: 2px white solid;

        &:hover{
            border: 2px $softmagenta solid;

            path {
                fill: $softmagenta;
            }
            
        }
    }
}

@media screen and (max-width: 375px){
    body{
        display: block;
        background-image: url("/images/bg-mobile.svg");
    }
    .header--logo{
        height: 36px;
        margin-top: 24px;
        margin-left: 36px;
    }
    main {
        margin: 36px;
    }
    .content {
        display: block;
    }
    .content--image {
        margin: 0 auto;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .content--caption {
        margin-top: 36px;
        text-align: center;
        h1 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
            line-height: 1.5em;
        }
        a {
            padding: 1em 7em;
            font-size: 12px;
        }
    }

    footer {
        text-align: center;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}